.kmg td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kmg .icon-left {
    padding-left: 0;
    padding-right: 15px;
    text-align: right;
  }

.kmg .icon-right {
    padding-right: 0;
    padding-left: 15px;
    text-align: left;
  }
  